<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset</h2>
    <p>Hello {{ current_user.username }},</p>
    <p>We received a request to reset your password. Use otp below to reset it:</p>
    <p>{{ reset_password_otp }}</p>
    <p>If you didn't make this request, you can ignore this email.</p>
</body>
</html>
